# Основные зависимости
pygame-ce>=2.5.7

# Инструменты разработки
ruff>=0.6.0
black>=24.0.0
isort>=5.13.0

# Опционально (для отладки и типов)
pyright>=1.1.0
pygame-ce[examples]  # если хочешь примеры из pygame

# Для профилирования (если нужно)
snakeviz>=2.2.0