.left-panel {
    width: 300px;
    height: 100%;
    padding: 10px;

    .category,
    .object {
        cursor: pointer;
        padding-top: 10px;
        font-weight: bold;
        font-size: 18px;
    }

    .object {
        padding-left: 40px;
    }
}