.right-panel {
    width: 300px;
    height:  100%;

    .delete {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
        margin-top: 30px;

        &:hover {
            background-color: #c20f21;
            transition: 0.3s;
        }
    }
}